html, body {
    margin: 0;
    padding: 8px;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(238, 228, 228, 0.863);
    
}

#image-container {
    position: absolute;
    width: 100%;
    height: 95%;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
    top: 0;

}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85vh;
    opacity: 0; /* Set initial opacity to 0 for all images */
    transition: opacity 1s ease-in-out;
}


img.active {
    opacity: 1; /* Set opacity to 1 for the active image */
}
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    #bodytext {
        font-size: 20px;
    }
}
