.textedit{
    background: transparent;
    position: absolute;
    bottom: 0;
    top: 87%;

}h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    box-sizing: border-box;
    

}
a{
    transition: color 1s ease-in-out;
    color: rgb(18, 155, 218);
    font-size: 50px;
    text-decoration: none;
}
#bodytext{
    font-size: 28px;
    color: rgb(15, 15, 14);
}
